<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

<div class="col-md-12 background-image page-header">
	<br>


	<h3><font face="Courrier New" size=6 color="#2C69F9">Comprar Destacados</h3><br>

	<div class="col-md-8" style='text-align: justify;'><br>
		<FONT FACE="arial" SIZE=3 COLOR="gray"> 
		En ésta sección podrás comprar el servicio de DESTACAR un inmueble por medio de PayPal.<br>

		A continuación se muestrasn las tres opciones de pago, te pido seleccione la que más te convenga y una vez realizado el pago, envíes un correo al administrador de la página con los siguientes pasos:<br><br>

			 1.- Nombre Usuario<br>
			 2.- Titulo Inmueble<br>
			 3.- Tipo de destacado<br>
			 4.- Fecha de pago<br>
			 5.- No. de transacción generada por medio del pago PayPal<br><br>

		Gracias <br>
		</FONT>
	</div>

	<div>
		
		<table style="text-center">
			<tr>
				<td>
				<FONT FACE="arial" SIZE=4 COLOR="#2C69F9">Destacado Junior</FONT>
				<br>
				<FONT FACE="arial" SIZE=2 COLOR="gray">Con esta opción de servicio podrás destacar un inmueble durante un mes.<br>
				</FONT>
				</td>
				<td>
				<FONT FACE="arial" SIZE=4 COLOR="#2C69F9"> Destacado Senior</FONT>
				<br>
				<FONT FACE="arial" SIZE=2 COLOR="gray"> Con esta opción de servicio podrás destacar un inmueble durante un mes.<br>
				</FONT>
				</td>
				<td>
				<FONT FACE="arial" SIZE=4 COLOR="#2C69F9"> Destacado Master</FONT>
				<br>
				<FONT FACE="arial" SIZE=2 COLOR="gray">Con esta opción de servicio podrás destacar un inmueble durante un mes.<br>
				</FONT>
				</td>
			</tr>

			<tr>
			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="FEYNDB2BHAQT4">
				<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
				<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>

			<td>		
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="S5KD9DPCWNVX8">
				<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
				<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>

			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="UFKWZRCSBKWV6">
				<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
				<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
				</form>
			</td>>
		</tr>
		</table>
	</div>

</div>

</html>
