<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12"><br>

		<h3><font face="Courrier New" size=6 color="#2C69F9">Facturación</h3>
		<p> <font face="Courrier New" size=4 color="#616776">
		Si necesitas factura te pedimos sigas los siguentes pasos:
		<br>

			
			1.- Enviar correo a: direccion.quatroparedes@gmail.com<br>
			En el correo agrega lo siguiente:<br>
			2.- Los datos de facturación<br>
			3.-Tu nombre de usuario (registrado)<br>
			4.- El monto del pago que se desea facturar<br>
			5.- Tu número de transacción,  porporcionado por PayPal al monento del pago<br>
			6.- TU fecha de pago<br>
			7.- Indicar el correo o correos a los que quieres que se te envíe la factura.

		</font></p>
		<br>
		<br>


	</div>
</body>
</html>