<section>
	  <div class="panel-footer col-lg-12 text-center container" >
    <table width="100%" align="center">
      <tr>
        <td>
         <FONT FACE="arial" SIZE=5 COLOR="#DBDBDB">
          <h5>Información</h5>
          <ul>
            <li>
              <a href="/#!/politicas" ng-click="setTransaccion">
              <FONT FACE="arial" SIZE=2 COLOR="DBDBDB">
              <b>Políticas</b>
              </FONT>
              </a>

            </li>

            <li>
              <a href="modules/core/views/Politicas.client.views.html">
              <FONT FACE="arial" SIZE=2 COLOR="DBDBDB">
              <b>Condiciones de uso</b>
              </FONT>
              </a>

            </li>
          </ul>
          </FONT>
        </td>
        <td>
          <FONT FACE="arial" SIZE=2 COLOR="DBDBDB">
          <h6>Contacto</h6>
          <p>
            <h6>
              <b>
                Quatroparedes S.A. de C.V.
              </b>      
            </h6>
            <span class="glyphicon glyphicon-map-marker"></span>Ciudad: León, Gto.<br>
            <span class="glyphicon glyphicon-map-marker"></span>Correo: quatroparedes@gmail.com<br>
            <span class="glyphicon glyphicon-earphone"></span> Teléfono: 477- 756447 / 477-1234567<br>
          </p>   
          <h6><b>Síguenos en :</b></h6><br>
          <a href="https://www.facebook.com/Quatro-Paredes-912026278876881/timeline/" target="_blank"><img src="modules/core/img/IconosPagina/facebook.png" alt="Facebook"></a>
          <a href="http://twitter.com/QuatroParedes" target="_blank"><img src="modules/core/img/IconosPagina/twitter.png" alt="Twitter"></a>
          <a href="https://instagram.com/quatroparedes" target="_blank"><img src="modules/core/img/IconosPagina/instagram.png" alt="Instagram"></a>
          </FONT>
        </td>

        <td>
        <FONT FACE="arial" SIZE=2 COLOR="DBDBDB">
          <h6>Desarrollado por:</h6>
          <p>
            <h6>
              <b>
                REMOTEchnology
              </b>      
            </h6>
            <span class="glyphicon glyphicon-map-marker"></span>Ciudad: León, Gto.<br>
            <span class="glyphicon glyphicon-map-marker"></span>Correo: remotecnologias@gmail.com<br>
            <span class="glyphicon glyphicon-earphone"></span> Teléfonos: 477 - 7523107 / 462 - 6281401<br>
          </p>          
          </FONT>
        </td>
      </tr>
    </table>
    <h5>
    <FONT FACE="arial" COLOR="DBDBDB">
    Copyright 2015. todos los derechos reservados a quatroparedes
    </FONT>
    </h5>
  </div>


</section>