<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12" style='text-align: justify;' >

		<h3><font face="Courrier New" size=6 color="#2C69F9">Políticas de Seguridad y Privacidad</h3>
			<p> <font face="Courrier New" size=4 color="#616776">
			<b>QuatroParedes</b> se compromete a asegurar la confidencialidad y privacidad de la información personal obtenida a través de sus servicios en línea. Sugerimos leer la normativa descrita a continuación para entender el tratamiento de la información personal cuando se utilizan nuestros servicios en el sitio QuatroParedes.com.mx. Estas normas de confidencialidad pueden tener cambios en el futuro. Se recomienda revisarlas periódicamente.
		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			1. TIPO DE INFORMACIÓN PERSONAL QUE SE OBTIENE
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			<b>En QuatroParedes.</b> obtenemos información de diferentes maneras desde varias áreas del sitio web. Dicha información se encuentra sujeta a normas de confidencialidad y privacidad que el usuario ingresa voluntariamente al sitio web. La creación del perfil personal, la inscripción al servicio de Correos Promocionales, registro a programas de lealtad, uso de perfiles en redes sociales para obtener promociones, así como la información que se solicita para la participación en concursos, rifas y encuestas en línea que se llevan a cabo ocasionalmente. Para cada uno de estos programas, la información que se solicita es distinta y se almacena en bases de datos separadas.
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			<b>Mi Cuenta.</b> Entre la información solicitada al usuario se encuentra: nombre, apellido, dirección física, dirección de correo electrónico, número telefónico, número de celular, fecha de nacimiento, entre otras. Al solicitar nuestros servicios será completamente obligatorio brindar toda esta información requerida. QuatroParedes podrá contactar a sus usuarios en cualquier momento para confirmar información del cliente, etc, por cualquiera de los siguientes medios: teléfono, teléfono celular o correo electrónico. Quedará a criterio de QuatroParedes contactar al cliente para la activación de su anuncio pagado o para completar alguna transacción. 
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			<b>Correos Promocionales.</b> La información que los clientes proporcionen a QuatroParedes podrá incluir: nombre, apellido, dirección de correo electrónico, dirección, país, número telefónico, teléfono celular, entre otros. El usuario podrá modificar esta información en cualquier momento y será empleada para adecuar las promociones y avisos enviados por correo electrónico al usuario. 
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			<b>Concursos, Rifas y Encuestas en Línea.</b> El tipo de información solicitada por cualquiera de estos medios puede variar pero podrá incluir datos personales como: nombre completo, teléfono, teléfono celular, dirección de correo electrónico, intereses, opiniones de servicio, fecha de nacimiento, entre otros datos. La información será para uso exclusivo de la empresa y con el sólo hecho de participar estarán aceptando de forma automática incluir su correo electrónico en la lista de correos promocionales del cual podrán cancelar su suscripción de forma voluntaria en cualquier momento.  
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			Toda la información obtenida por QuatroParedes quedará resguardada en un servidor 100% seguro que reside a través de un firewall diseñado para obstaculizar el acceso desde afuera de la compañía. Desafortunadamente ninguna transmisión por internet puede garantizar su seguridad al 100%. QuatroParedes se esforzará por guardar y proteger al máximo esta información a través de nuestros sistemas de seguridad. 
		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			2. USO DE LA INFORMACIÓN PERSONAL
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			QuatroParedes utiliza la información suministrada durante la realización de una nueva cuenta, encuestas, dinámicas y suscripciones a programas para realizar estudios internos sobre datos demográficos, intereses y comportamiento de los usuarios. El objetivo será ofrecer información y promociones de utilidad para los usuarios para mejorar la experiencia de uso del sitio. 
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			COOKIES Y SU USO
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			Las cookies son piezas de información que son enviadas por el sitio web al navegador de usuario. Los cookies se almacenan en el disco duro del cliente y se utilizan para determinar sus preferencias cuando se conecta a los servicios del sitio de QuatroParedes para rastrear determinados comportamientos o actividades llevadas a cabo dentro del sitio web QuatroParedes.com.mx.
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			Es necesario tener habilitadas las cookies en algunas secciones de nuestro sitio para poder efectuar algunas funciones para trabajar.<br><br>

			Las cookies permitirán:<br>
			1.- Conocer la configuración personal del sitio especificada por el cliente.<br>
			2.- Calcular el tamaño de la audiencia y medir parámetros como tráfico, frecuencia de uso y secciones del sitio más visitadas, reflejando así sus hábitos y preferencias. Esta información permite mostrar un contenido de mayor calidad, titulares y promociones para los usuarios.<br>
			3.- Rastreo de actividades para detectar si el usuario ha llenado información de encuestas y evitar desplegarla nuevamente, entre otras.
		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			3. CONFIDENCIALIDAD DE LA INFORMACIÓN
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			La información solicitada al usuario por parte de QuatroParedes.com.mx será para uso exclusivo de la empresa y no se compartirá bajo ninguna circunstancia, salvo que se especifique lo contrario. <br>

			QuatroParedes no vende ni alquila la información de los usuarios. Si los datos personales del usuario debieran ser compartidos con socios comerciales o patrocinadores, el usuario será notificado antes de que estos sean registrados o transferidos. El usuario podrá elegir si no desea compartir sus datos con terceros ante esta situación.<br>

			QuatroParedes podrá difundir estadísticas en conjunto con los usuarios. Ejemplo: Porcentaje de usuarios hombres vs usuarios mujeres para describir el servicio y para propósitos lícitos en los casos que marque la ley.<br>

			QuatroParedes podrá difundir la información de la cuenta en casos especiales cuando pensemos que proporcionar esta información pueda servir para identificar, localizar o realizar acciones legales contra personas que puedan infringir las condiciones del servicio del sitio QuatroParedes o causar daños o interferencia sobre los derechos de QuatroParedes o sus propiedades; de otros usuarios del sitio de QuatroParedes o de cualquier otra persona que pudiese resultar perjudicada por dichas actividades. QuatroParedes puede difundir y obtener acceso a la información de cuenta cuando esté actuando de buena fe, creamos que es necesario por razones legales, administrativas o de otra índole y lo consideremos necesario para mantener, proporcionar y desarrollar nuestros productos o servicios.<br>

			QuatroParedes no asume la obligación de mantener confidencial cualquier otra información que el usuario proporcione incluyendo aquella información que el usuario proporcione a través de boletines, pláticas en línea, así como información obtenida a través de cookies que se describen en el inciso 3, lo anterior en términos de lo establecido en el artículo 109 de la Ley Federal de los Derechos de Autor y de la fracción I del artículo 76 bis de la Ley Federal de Protección al consumidor.
		</font></p>
		<p> <font face="Courrier New" size=5 color="#616776">
			4. MODIFICACIÓN O ACTUALIZACIÓN DE LA INFORMACIÓN
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			Los datos personales proporcionados por el usuario formarán parte de un archivo que contendrá su perfil. El usuario puede modificar su perfil en cualquier momento ingresando a su cuenta.<br>

			QuatroParedes aconseja al usuario que actualice sus datos cada vez que estos sufren alguna actualización para brindarle un servicio más personalizado. 

		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			5. PROTECCIÓN DE LA INFORMACIÓN PERSONAL
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
		La información proporcionada por el usuario está asegurada por un número de ID personal al cual sólo el usuario podrá acceder y del cual sólo él tiene conocimiento.<br>

		QuatroParedes no solicitará la contraseña del usuario por ningún medio. El usuario es el único responsable de mantener su contraseña en secreto. QuatroParedes recomienda salir de su cuenta y cerrar la ventana del navegador cuando finalice su actividad, más aún si comparte computadora con alguien o se encuentra en un lugar público / café internet.
		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			6. CONFIDENCIALIDAD DE LOS MENORES
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
		QuatroParedes recaudará el mínimo posible de información de menores para brindar sus servicios. <br>
		QuatroParedes no solicita información de identificación personal a los menores. Los menores siempre deben solicitar permiso a sus padres antes de enviar información personal a otro usuario que se encuentre en línea. 

		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			7. ACEPTACIÓN DE TÉRMINOS
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
		Esta declaración de confidencialidad / privacidad está sujeta a los términos y condiciones de QuatroParedes, lo cual constituye un acuerdo legal entre QuatroParedes y el usuario. Si el usuario utiliza los servicios de QuatroParedes significa que <b>ha leído, entendido y acordado los términos antes expuestos.</b> Si no está de acuerdo con ellos, el usuario no deberá proporcionar ninguna información personal ni utilizar los servicios de QuatroParedes.
		</font></p>

		<p> <font face="Courrier New" size=5 color="#616776">
			8. PRINCIPIOS MÍNIMOS DE NUESTRA POLÍTICA DE PRIVACIDAD / CONFIDENCIALIDAD
		</font></p>

		<p> <font face="Courrier New" size=4 color="#616776">
			A continuación se exponen de forma breve los principios que rigen sus políticas de privacidad y confidencialidad para la información proporcionada por los usuarios de sus servicios electrónicos en línea:<br><br>

			•	QuatroParedes utiliza la información de los clientes únicamente para objetivos mencionados anteriormente y serán de uso exclusivo de la empresa.<br>
			•	QuatroParedes se esfuerza por asegurar la calidad de la información que se recaba sobre nuestros usuarios de servicios en línea, particularmente cuando se hayan obtenido a través de algún proveedor de información o de servicios. <br>
			•	QuatroParedes enfoca sus esfuerzos para ofrecer la tecnología más moderna y actualizada a fin de ofrecer a sus clientes/usuarios la mayor seguridad posible en el manejo y transferencia de la información que es requerida en los diversos procesos requiriendo de más datos.<br>
			•	QuatroParedes evitará la divulgación de información del cliente/usuario, haciéndolo únicamente respecto de aquellos datos que expresamente sean autorizados para ello.<br>
			•	En todo momento QuatroParedes está atento a las inquietudes que manifiestan los clientes y usuarios respecto al manejo de la información que proporcionen para los diversos procesos en línea.<br>
			•	QuatroParedes cuida que estos principios de privacidad / confidencialidad se extiendan al conjunto de relaciones comerciales al interior del grupo.<br> 
			•	QuatroParedes comparte la responsabilidad del cuidado de la información con sus empleados haciéndolos partícipes de los lineamientos expuestos en este documento.

		</font></p>
		<br>
		<br>


	</div>
</body>
</html>