<section data-ng-controller="InmueblesController">

<div class="col-md-12 background-image page-header"> <br>
<!--Sección de botones-->
	<div class="col-lg-12 col-md-12 col-sm-12 btn-group btn-group-justified" role="group" aria-label="...">
		<div class="btn-group" role="group">
            <a class="btn btn-default" href="modules/core/views/Politicas.html" target="enlaces"><FONT FACE="arial" SIZE=2 COLOR="gray"> Políticas </FONT>
            </a>
        </div>

		<div class="btn-group" role="group">
            <a class="btn btn-default" href="modules/core/views/Comprar.html" target="enlaces"><FONT FACE="arial" SIZE=2 COLOR="gray"> Comprar </FONT>
            </a>
        </div>

        <div class="btn-group" role="group">
            <a class="btn btn-default" href="modules/core/views/Servicios.html" target="enlaces"><FONT FACE="arial" SIZE=2 COLOR="gray"> Servicios </FONT>
            </a>
        </div>

        <div class="btn-group" role="group">
            <a class="btn btn-default" href="modules/core/views/FormasPago.html" target="enlaces"><FONT FACE="arial" SIZE=2 COLOR="gray"> Formas de Pago </FONT>
            </a>
        </div>

        <div class="btn-group" role="group">
            <a class="btn btn-default" href="modules/core/views/ComoComprar.html" target="enlaces"><FONT FACE="arial" SIZE=2 COLOR="gray">¿Cómo Compro?</FONT>
            </a>
        </div>

	</div><br>
<img src="modules/core/img/Logo1.png" width="300px" height="150px"><br>
</div>



<!--Sección de Divs-->

	<div class="col-md-4"><br>
		<font face="Courrier New" size=6 color="#000">Preguntas Frecuentes</font><br>
		<font face="Courrier New" size=4 color="#2C69F9">Formas de Pago</font><br><br>
		<a href="modules/core/views/Politicas.html" target="enlaces">¿Que formas de pago tenemos?</a><br>
		<a href="modules/core/views/ReportePago.html" target="enlaces">¿Cómo reporto mi pago?</a><br>
		<a href="modules/core/views/Factura.html" target="enlaces">¿Cómo solicito mi factura?</a><br>
		<br>

		<font face="Courrier New" size=4 color="#2C69F9">Servicios</font><br><br>
		<a href="modules/core/views/Politicas.html" target="algo">Anuncia tu casa</a><br>
		<a href="modules/core/views/Politicas.html" target="algo">Destacados</a><br>
		<a href="modules/core/views/Politicas.html" target="algo">Banners Publicitarios</a><br>
		<a href="modules/core/views/Politicas.html" target="algo">Diseña tu propio Site</a><br>
		<a href="modules/core/views/Politicas.html" target="algo">¿Cómo comprar?</a><br>
		<br>

	    <!--sección publicidad-->
            <iframe src="modules/inmuebles/publicidad2.html" 
           width="250px" height="300px" marginwidth="0" scrolling="yes" frameborder="0"></iframe><br>
        <!-- fin de seccion de publicidad -->

	</div>

	<div class="col-md-8">
		
	<br>
		<iframe src="modules/core/views/Politicas.html" name="enlaces" width="600" height="800" marginwidth="0" scrolling="yes" frameborder="0"></iframe> 


	</div>



</section>



