<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12"><br>

		<h3><font face="Courrier New" size=6 color="#2C69F9">Reportar de Pago</h3>

		<p> <font face="Courrier New" size=4 color="#616776">
		Una vez realizado el pago de alguno de los servicios que te ofrecesmos, te pedimos realizar lo que a continuación se menciona:<br>

			1.- Enviar correo a direccion.quatroparedes@gmail.com<br>
			2.- Agregar tu nombre de usuario (registrado)<br>
			3.- Agregar el concepto de pago<br>
			4.- Agregar el monto pagado<br>
			5.- Agregar el número de transacción porporcionada por PayPal al monento del pago<br>
			6.- Agregar la fecha de pago<br>


		</font></p>
		<br>
		<br>


	</div>
</body>
</html>