<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
	<div class="col-lg-12 col-md-12 col-sm-12" style='text-align: justify;'><br>

		<h3><font face="Courrier New" size=6 color="#2C69F9">Servicios Quatroparedes</h3>	
		<p> <font face="Courrier New" size=4 color="#616776" >Los servicios que Quatroparedes te ofreces son los siguientes:
		<br>

		<UL type = circle><font face="Courrier New" size=4 color="#616776">
			<LI><b>Anuncia tus inmuebles de forma gratuita:</b>
			Si eliges ésta opción, podrás subir 5 imágenes de tu inmueble, además de tus datos. También prodrás compartir con tus amigos.<br>

			Para conocer más sobre éste servicio, dirigite al link de servicios, Anuncia tu inmueble.

			<LI><b>Destacar tu inmuebes:</b>
			Al destacar tu inmueble, éste aparecerá entre los primeros inmuebles de lá págia.<br>

			Para conocer más sobre éste servicio, dirigite al link de servicios, Destacados.<br>

			<LI><b>Banner pueblicitarios:</b>
			Los banner son publicidad para tu empresa dentro de nuestro sitio de Quatroparedes.<br>

			Para conocer más sobre éste servicio, dirigite al link de servicios, Banners Publicitarios.<br>

			<LI><b>Diseña tu site:</b>
			El site es un sevicio que se ofrece a todos aquellos fraccionamientos, inmobiliarias o vendedores que deseen tener un espacio personalizado en el que se muestres todos sus imnuebles ofertaods dentro de nuestro sitio de Quatroparedes.<br>

			Para conocer más sobre éste servicio, dirigite al link de servicios, Diseña tu propio Site.<br>

			<LI><b>¿Cómo comprar?:</b>
			Es importante que conozcas las formas de pago de nuestros diferentes servicios por lo que te pedimos que para conocer lo diferentes tipos de pago, te dirijas al link de servicios,¿Cómo Comprar?.<br>
		</Font>
		</UL>
	
		</font></p>
		<br>
		<br>


	</div>
</body>
</html>