<section data-ng-controller="UsuariosController" data-ng-init="findOne()">
    <div class="col-md-12 background-image page-header"><br>
        <div class="row">
            <div class="col-md-4"><br>
                <img src="modules/core/img/Logo1.png" width="300px" height="150px">
            </div>
            <div class="col-md-4 text-center"><br><br>
                <h2>Editar usuario</h2>
            </div><br>
        </div>
    </div>
    <div class="col-xs-offset-4 col-xs-8 col-md-offset-4 col-md-4">
        <form class="form-horizontal" data-ng-submit="update()">
            <fieldset>

                    <label class="control-label" for="displayName">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="usuario.displayName" id="displayName" class="form-control"  disabled required>
                    </div>

                    <label class="control-label" for="username">Usuario</label>
                    <div class="controls">
                        <input type="text" data-ng-model="usuario.username" id="username" class="form-control" disabled required>
                    </div>

                    <label class="control-label" for="roles">Rol: </label>
                    <select ng-model="usuario.roles[0]" id="roles" class="form-control" required>
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                    
                    <label class="control-label" for="tipo">Tipo: </label>
                    <select ng-model="usuario.tipo" id="tipo" class="form-control" required>
                        <option value="gratuito">gratuito</option>
                        <option value="pagosite">pago site</option>
                    </select>

                    <label class="control-label" for="estatus">Estatus: </label>
                    <select ng-model="usuario.estatus" id="estatus" class="form-control" required>
                        <option value="activo">activo</option>
                        <option value="inactivo">inactivo</option>
                    </select> <br>



                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Guardar usuario</button>
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4"></div>
</section>